.info {
  text-align: left;
  padding: 20px;
  background-color: #1b98f5;
  color: #fff;
}

.info-h2 {
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.info-details-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.info-detail {
  font-size: 20px;
  font-weight: 600;
}

.info-icons-container {
  display: flex;
}

.info-icon {
  font-size: 5rem;
  margin-right: 20px;
  cursor: pointer;
}

@media screen and (min-width: 699px) {
  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
  }

  .info-detail {
    line-height: 2;
  }
}
